@page
@model Desk.WebUI.Pages.Errors.Error404Model
@{
    ViewData["Title"] = "Not found";
}

<div class="text-center">
    <h1 class="display-4">Not found!</h1>
</div>


<div class="row justify-content-center mb-3">
    <div class="col-8">
        Sorry, we were unable to find that resource.
    </div>
</div>