@page
@using Desk.WebUI.ViewModels
@model Desk.WebUI.Pages.Items.TabletopModel
@{
    ViewData["Title"] = "Tabletop";
}

<div class="text-center">
    <h1 class="display-4">Tabletop</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8">
        Take a look at your finished projects!
    
        @foreach (var item in Model.TabletopItems)
        {
            <partial name="_ItemSummaryPartial" model="new ItemSummaryViewModel(item, false)" />
        }
    </div>
</div>
