@page
@model WhosInSpaceRP.Pages.AboutModel

<h3>About</h3>

<p>
    <em>Who's in space?</em> is a simple Razor Pages application for querying and
    displaying who is currently in space. Data is read from open notify -
    <a href="http://api.open-notify.org" target="_blank">http://api.open-notify.org</a>.
</p>
