@page
@model Desk.WebUI.Pages.Reports.ItemsModel
@{
    ViewData["Title"] = "Items Report";
}

<div class="text-center">
    <h1 class="display-4">Items Report</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8 justify-content-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Items</th>
                    <th>Deleted</th>
                    <th>Images</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model.ItemReports)
                {
                    <tr>
                        <td>@report.Username</td>
                        <td>@report.ItemCount</td>
                        <td>@report.DeletedCount</td>
                        <td>@report.ImageCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
