@page
@model Desk.WebUI.Pages.Tags.ListModel
@{
    ViewData["Title"] = "Tags";
}

<div class="text-center">
    <h1 class="display-4">Tags</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8 justify-content-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model.Tags)
                {
                    <tr>
                        <td>
                            <a asp-page="/Tags/Search" asp-route-tagId="@tag.Id">@tag.Name</a>
                        </td>
                        <td>
                            <a asp-page="/Tags/Delete" asp-route-tagId="@tag.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>