@page
@model Fragment.WebUI.Pages.Tags.ListModel
@{
    ViewData["Title"] = "List Tags";
}

<h1>Tags</h1>

@if (Model.Tags.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model.Tags)
            {
                <tr>
                    <td>@tag.Name</td>
                    <td>
                        <a asp-page="/Tags/Delete" asp-route-tagId="@tag.Id">delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><a asp-page="/Tags/Add">add tag</a></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>No tags found.</p>
}