<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tags
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="" asp-page="/Tags/Add">Add Tag</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-page="/Tags/List">Manage</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Miniatures
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="" asp-page="/Items/Add">Add Miniature</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-page="/Items/Pile">Pile of Shame</a></li>
        <li><a class="dropdown-item" asp-area="" asp-page="/Items/Desk">Desk</a></li>
        <li><a class="dropdown-item" asp-area="" asp-page="/Items/Tabletop">Tabletop</a></li>
    </ul>
</li>

@if (User.FindFirst("isAdmin")?.Value == "true")
{
    <partial name="_AdminNavPartial" />
}

<li class="nav-item">
    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
</li>
<li class="nav-item">
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
    </form>
</li>
