@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4">Oops!</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8">
        <p>Sorry, something unexpected happened. Please try again.</p>
    </div>
    <div class="col-8 d-flex justify-content-center">
        <img src="~/img/spill_512.jpg" alt="Spilled paint" />
    </div>
</div>
